services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pace-auth-api
    env_file:
      - .env
    environment:
      # override .env for Docker networking because you need to address mongo by the container name below
      MONGODB_URL: mongodb://mongo:27017/user-auth
      NODE_ENV: development
    ports:
      - "8000:8000"
    depends_on:
      mongo:
        condition: service_healthy
    restart: unless-stopped

  mongo:
    image: mongo:7
    container_name: pace-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: [ "CMD", "mongosh", "--quiet", "mongodb://localhost:27017/admin", "--eval", "db.runCommand({ ping: 1 }).ok" ]
      interval: 10s
      timeout: 5s
      retries: 10
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: pace-grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_ADMIN_PASSWORD}
    healthcheck:
      test: ["CMD", "wget", "-q0-", "http://localhost:3000/api/health"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    restart: unless-stopped

volumes:
  mongo_data:
  grafana_data:
